@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", system-ui, sans-serif;
  --font-mono: "Fira Code", monospace;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  button,
  a,
  input,
  textarea,
  select {
    @apply transition-colors duration-300;
  }
  html {
    font-family: var(--font-sans);
  }
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-text-fill-color: theme(colors.slate.100);
    -webkit-box-shadow: 0 0 0 1000px theme(colors.slate.900) inset;
    transition: background-color 9999s ease-in-out 0s;
  }

  .dark input:-webkit-autofill,
  .dark textarea:-webkit-autofill,
  .dark select:-webkit-autofill {
    -webkit-text-fill-color: theme(colors.slate.100);
    -webkit-box-shadow: 0 0 0 1000px theme(colors.slate.900) inset;
  }
}

@utility text-glow-red {
  text-shadow:
    0 0 8px #e53935,
    0 0 16px #b00020;
}

@utility glow-red {
  box-shadow:
    0 0 8px #e53935,
    0 0 16px #b00020;
}

@utility text-glow-indigo {
  text-shadow:
    0 0 8px rgb(79 70 229 / 0.8),
    0 0 16px rgb(79 70 229 / 0.6);
}

@utility glow-indigo {
  box-shadow:
    0 0 8px rgb(79 70 229 / 0.8),
    0 0 16px rgb(79 70 229 / 0.6);
}

@layer utilities {
  .dark .text-gradient-red {
    @apply bg-linear-to-r
     from-red-400
     via-rose-400
     to-pink-400
      bg-clip-text
      text-transparent;
  }

  .text-gradient-blue {
    @apply bg-linear-to-r
           from-blue-600
           via-indigo-500
           to-purple-600
           bg-clip-text
           text-transparent;
  }
}
