@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", system-ui, sans-serif;
  --font-mono: "Fira Code", monospace;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    font-family: var(--font-sans);
  }
}

@utility text-glow-red {
  text-shadow:
    0 0 8px #e53935,
    0 0 16px #b00020;
}

@utility text-glow-indigo {
  text-shadow:
    0 0 8px rgb(79 70 229 / 0.8),
    0 0 16px rgb(79 70 229 / 0.6);
}

@layer utilities {
  .dark .text-gradient-red {
    @apply bg-linear-to-r
     from-red-400
     via-rose-400
     to-pink-400
      bg-clip-text
      text-transparent;
  }

  .text-gradient-blue {
    @apply bg-linear-to-r
           from-blue-600
           via-indigo-500
           to-purple-600
           bg-clip-text
           text-transparent;
  }
}
